# Ignorar archivos comprimidos
*.zip
*.tar.gz

# Archivos CSV gigantes que bloquean la subida (>100MB)
analisis/key_tables/neighbors_all/neighbors_all_long__ALL1.csv
analisis/key_tables/neighbors_all/neighbors_all_long__ALL2.csv
analisis/key_tables/neighbors_all/neighbors_all_long__coursera_2.csv